* 
{
    font-family: Courier;
    padding: 0%;
    box-sizing: border-box;
   


}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('/Users/kurakulaenus/Languages/All In One/sunset.jpg')
     no-repeat;
    background-size: cover;
    background-position: center;
    
}

header 
{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    padding: 10px;

   
}


.logo 
{
font-size: 30px;
color: rgb(190, 94, 156);
position: ;

}


.navigation a 
{
    position: relative;
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-weight: 800;
    margin-left: 30px;
}


.navigation .lgn 
{
    width: 50px;
    height: 30px;
    border: 2px solid white;
    background: transparent;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    color: yellow;
    font-weight: 800;
    margin-left: 20px;
}



.navigation .lgn:hover 
{
    color: rgb(12, 241, 172);
    background-color: black;
}


.navigation a::after
{
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    height: 2px;
    background-color: rgb(9, 243, 149);
    border-radius: 5px;
    bottom: 0px;
    transform: scale(0);
    transition: transform .2s;
}


.navigation a:hover:after
{
    transform: scale(1);
}

.wrapper
{
    position: relative;
    width: 400px;
    height: 400px;
    background-color: #ffffff80;
    border-style: dotted;
    border-radius: 10px;
    border-color: white;
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
}


.wrapper.form-box
{
    width: 100%;
    padding: 30px;
}

.form-box h1 {
    font-size: 35px;
    color: rgb(15, 227, 135);
    font-weight: 500;
    text-align: center;
}

.input-box
{
    position: relative;
    width: 100%;
    height: 50%;
    border-bottom: 2px solid rgb(173, 229, 89);
    margin: 30px 0;
}

.input-box input:focus~label,
.input-box input:valid~label
{
    top: -15px;
}

.input-box label 
{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 20px;
    font-weight: 500;
    pointer-events: none;
    transform: .5s;
}

.input-box input
{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: noe;
    font-size: 15px;
    color: rgb(18, 44, 217);
    padding: 0 30px 0 5px;
}

.remember-forgot
{
    font-size: 1rem;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.remember-forgot.label input
{
    accent-color: rgb(37, 237, 11);
    margin-right: 3px;
}

.remember-forgot a {
    text-decoration: none;
    color: rgb(221, 97, 97);
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.MLgn
{
    width: 100%;
    height: 30px;
    top: 10px;
    position: relative;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(14, 247, 142);
    font-size: 20px;
    font-weight: 800;
    background-color: #adff2f78;
    backdrop-filter: blur(5px);
}

.login-register p a
{
    color: black;
    text-decoration: none;
    margin-bottom: 5px;
}